.side-nav
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: background-color .5s;

    background-color: rgba(0,0,0,.3);
}

.side-nav_hidden
{
    pointer-events: none;

    background-color: rgba(0,0,0,0);
}

.side-nav__header
{
    color: #fff;
    background-color: #039be5;
}

.side-nav__content
{
    width: 80%;
    max-width: 280px;
    height: 100%;

    transition: transform .5s;

    background-color: #fff;
    box-shadow: 1px 1px 5px #999;

    will-change: transform;
}

.side-nav__content_hidden
{
    transform: translateX(-103%);
}

.side-nav__close
{
    padding: 16px;

    vertical-align: middle;
}

.side-nav__items
{
    margin: 16px 0 0;
    padding: 0;
}

.side-nav__item
{
    height: 24px;
    padding: 8px 16px;

    vertical-align: center;

    color: #666;
    border-bottom: 1px solid #ccc;
}

.side-nav__item_last
{
    border: none;
}
